/* =========================================================================== */
/*    input box                                                                */
/* =========================================================================== */
.tbs-grid .tbs-grid-panel-input {
    z-index: 1;
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
    border: 0px;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}
.tbs-grid .tbs-grid-panel-input:before {
    content:'';
    vertical-align: middle;
}
.tbs-grid .tbs-grid-input {
    z-index: 1;
    width: 100%;
    height:20px;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
.tbs-grid .tbs-grid-input-code {
    z-index: 0;
    width: 100px;
    height: 23px;
    top: 0px;
    left: 0px;
    overflow: hidden;
    position: fixed;
    border: 0px;
}
.tbs-grid .tbs-grid-panel-input-icon {
    z-index: 1;
    overflow: hidden;
    position: fixed;
    border: 0px;
    width: 15px;
    margin-top: 5px;
    /*height: 15px;*/

}
.tbs-grid .tbs-grid-input-panel {
    z-index: 1;
    /*width: 300px;*/
    /*height: 300px;*/
    left: 30000px;
    overflow: visible;
    position: fixed;
    border: 1px;
    background: #0a73a7;
}

