/* =========================================================================== */
/*    input box                                                                */
/* =========================================================================== */
.tbs-grid-input {
    z-index: 1000; width: 100px; height: 23px; overflow: hidden; position: fixed; border: 0px;
}
.tbs-grid-input-code {
    z-index: 1000; width: 100px; height: 23px; left: 30000px; overflow: hidden; position: fixed; border: 0px;
}
.tbs-grid-input-icon {
    z-index: 1000; width: 15px; height: 15px; left: 30000px; overflow: hidden; position: fixed; border: 0px; width: 15px; height: 15px;
}
.tbs-grid-input-panel {
    z-index: 1000; width: 300px; height: 300px; left: 30000px; overflow: hidden; position: fixed; border: 1px;
    background: #0a73a7;
}