/* =========================================================================== */
/*                                                                             */
/*    input day                                                      */
/*                                                                             */
/* =========================================================================== */
.tbs-grid-input-date {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 146px;
    background : white;
    z-index: 1000;
    border: 1px solid black !important;
    overflow-wrap: normal;
    overflow: hidden;
    /* background:url('/tbs.grid.2.0.0/img/calendar.png') no-repeat center; */
}
.tbs-grid-input-date-header {
    position: absolute;
    padding: 0px;



    margin: 0px;
    width: auto;
    top: 0;
    right: 0;
    bottom:auto;
    left : 0;
    height: 20px;
    overflow: hidden;
}
.tbs-grid-input-date-content {
    position: absolute;
    padding: 0px;
    margin: 0px;
    width:auto;
    top: 21px;
    right: 0;
    bottom : 0;
    left : 0;
    height: 124px;
    overflow: hidden;
    background: magenta;
}
.tbs-grid-input-date-header-table {
    position: absolute;
    width: 100%;
}
.tbs-grid-input-date-content-table {
    position: absolute;
    width: 100%;
}
.tbs-grid-input-date-cell-start {
    text-align:center;
}
.tbs-grid-input-date-cell-end {
    text-align:center;
}
.tbs-grid-input-date-cell {
    text-align:center;
}
/**
 * header
 */
.tbs-grid-input-date-prev
.tbs-grid-input-date-year
.tbs-grid-input-date-month
.tbs-grid-input-date-today
.tbs-grid-input-date-next {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #ffffff /*#f8f8f8*/;
    border: 0px solid black !important;
    outline:none;
}
.tbs-grid-input-date-div-start { cursor: pointer; color:red; font-weight: 600; border: 1px solid grey !important;}
.tbs-grid-input-date-div       { cursor: pointer; color:black; font-weight: 600; border: 1px solid grey !important;}
.tbs-grid-input-date-div-end   { cursor: pointer; color:blue; font-weight: 600; border: 1px solid grey !important;}