/* =========================================================================== */
/*                                                                             */
/*    input day                                                      */
/*                                                                             */
/* =========================================================================== */
.tbs-grid .tbs-grid-input-date {
    z-index: 1;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 231px;
    height: 187px;
    background : white;
    z-index: 1;
    border: 1px solid black !important;
    overflow-wrap: normal;
    overflow: visible;
    /* background:url('/tbs.grid/img/calendar.png') no-repeat center; */
}
.tbs-grid .tbs-grid-input-date-header {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 30px;
    overflow: hidden;
    background : #caf180;
}
.tbs-grid .tbs-grid-input-date-content {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 155px;
    overflow: hidden;
    background: white;
}
.tbs-grid .tbs-grid-input-date-header-table {
    position: absolute;
    width: 100%;
    height: 30px;
}
.tbs-grid .tbs-grid-input-date-content-table {
    position: absolute;
    width: 100%;
}
.tbs-grid .tbs-grid-input-date-cell-start {
    text-align:center;
}
.tbs-grid .tbs-grid-input-date-cell-end {
    text-align:center;
}
.tbs-grid .tbs-grid-input-date-cell {
    text-align:center;
    width:30px;
}
/**
 * header
 */
.tbs-grid .tbs-grid-input-date-prev
.tbs-grid .tbs-grid-input-date-year
.tbs-grid .tbs-grid-input-date-month
.tbs-grid .tbs-grid-input-date-today
.tbs-grid .tbs-grid-input-date-next {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #ffffff /*#f8f8f8*/;
    border: 0px solid black !important;
    outline:none;
}
.tbs-grid .tbs-grid-input-date-div-start { cursor: pointer; color:red; font-weight: 600; border: 1px solid grey !important;}
.tbs-grid .tbs-grid-input-date-div       { cursor: pointer; color:black; font-weight: 600; border: 1px solid grey !important;}
.tbs-grid .tbs-grid-input-date-div-end   { cursor: pointer; color:blue; font-weight: 600; border: 1px solid grey !important;}

